* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}
.form-cont {
  border: 5px solid wheat;
  padding: 100px;
  margin: 0px 0px 150px 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
}

.form-val input {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: large;
}

#btn {
  font-size: larger;
  text-align: center;
  padding: 5px;
  margin: 10px 0 0 0;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  background-color: black;
  color: red;
}
